{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Thor</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis quae, obcaecati laborum aliquam quaerat. Harum, vitae porro omnis, animi maxime quasi nulla, saepe quia alias tempora incidunt. Dicta, consequatur.</p>
    </div>
    <div class="col-4">
        <img src='assets/img/legothor.png' class='img-thumbnail' alt="">
    </div>
</div>
{{> footer}}